{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h1 class="page-header">Show Tours</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-success">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% endwith %}

    <table class="table">
        <thead>
        <tr>
            <th scope="col"># ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        {% for tour in tours %}
        <tr>
            <th scope="row">{{ tour.id }}</th>
            <td>{{ tour.name }}</td>
            <td>{{ tour.description }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
